/* Base */

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --primary-color: #cd5a18;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


/* body {
    margin: 0px;
    background-color: #f0f0f0 !important;
} */

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

.app {
    width: 100%;
}

.grid {
    width: 1115px !important;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: -5px;
     margin-right: -5px; */
}

.grid__column-2 {
    padding: 0 5px;
    width: 16.666%;
}

.grid__column-10-5 {
    padding: 0 5px;
    width: 20%;
}

.grid__column-10 {
    padding: 0 5px;
    width: 83.333%;
    display: flex;
}

.grid__column-6 {
    padding: 0 5px;
    width: 16.667%;
}

.grid__column-5 {
    padding: 0 5px;
    width: 20%;
}

.grid__column-3 {
    padding: 0 5px;
    width: 33.33%;
}

.col-3 {
    padding: 0 5px;
    width: 30%;
}

.col-7 {
    padding: 0 5px;
    width: 70%;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


/* main */

.container {
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 100px;
    border: 1px solid var(--border-color);
    padding: 5px 5px;
    border-radius: 4px;
}

.user {
    margin-top: 20px;
    text-align: center;
}

.user-link {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
}

.category__heading {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
    padding: 15px 20px;
    color: var(--white-color);
}

.category__list {
    list-style: none;
    margin-top: 10px;
}

.category__list-item {
    padding: 10px 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.productinfo {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.heading {
    margin-top: 100px;
    margin-bottom: 10px;
}

.heading p {
    font-size: 1.6rem;
    font-weight: 600;
}

.update__img {
    justify-content: flex-start;
    margin: 10px 0 0 0;
}

.upload {
    margin-top: 5px;
}

.btn {
    outline: none;
    height: 33px;
    width: 20%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    line-height: 33px;
}

.btn--primary {
    color: var(--white-color);
    background-color: rgb(53, 53, 53) !important;
}

.btn--primary:hover {
    background-color: rgb(39, 39, 39) !important;
}

.header {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.header-item p {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    line-height: 50px;
}

.header-item a {
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    line-height: 50px;
    color: #fff;
}

.icon {
    margin-right: 5px;
}

.container {
    margin-top: 20px;
    width: 100%;
}

.category {
    border: 1px solid var(--border-color);
    border-radius: 8px;
}

.product__heading p {
    font-size: 2rem;
    padding: 15px;
    display: block;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
}

table,
td {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px 0;
}

th {
    padding: 10px;
    font-size: 1.8rem;
    line-height: 20px;
}

.grid_admin {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.product-link {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--white-color);
    padding: 8px;
    display: inline;
    border-radius: 4px;
}

.product-link:hover {
    background-color: rgba(0, 0, 0, 0.75);
}


/* .category__list {
    position: relative;
}

.category__list::after {
    position: absolute;
    content: '';
    top: 8px;
    left: 4px;
    border: 8px solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.75);
}
 */

.category__list-item {
    padding-left: 20px;
}

.category__list-item a {
    display: block;
    right: 0;
    transition: right linear 0.1s;
    position: relative;
}

.category__list-item a:hover {
    right: -2px;
    color: var(--primary-color);
}

.active {
    color: var(--primary-color);
}

.index {
    display: flex;
}

.index-link {
    margin-right: 15px;
}

.btn-back {
    display: block;
    margin: 10px 0 10px 0;
    font-size: 1.4rem;
    line-height: 33px;
    width: 80px !important;
    justify-content: flex-end;
    float: right;
}


/* style="background-image: url(../images/bg.jpg);background-size:cover;" */